{% load static %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='view.css'> -->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/view.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript">

    </script>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <title>DAY_LIST</title>
<style>
    #applybutton{
        background-color: #2D43D4;
        color: #fff;
        font-size: 12px;
        text-align: center;
        width: 60px;
        height: 25px;
        border-radius: 10px;
        padding-top: 10px;
        /*float: right;*/
        display: flex;
        padding-left: 20px;
        margin-right: 10px;
    }
    .modify {
        margin-left: 750px;
    }
    #listbutton {
        background-color: #ffffff;
        color: #2D43D4;
        font-size: 12px;
        text-align: center;
        width: 60px;
        height: 25px;
        border-radius: 10px;
        border: solid 1px #2D43D4;
        padding-top: 10px;
        /*float: right;*/
        margin-left: 10px;
        
    }
    
</style>

<script>
    function img_checker(img) {
        if(img) document.write('<img src= "'+img+'" height="160px" width="200px" alt="...">');
        else document.write("");
    }

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
    }
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $(document).ready(function() {
      var csrftoken = getCookie('csrftoken');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    });

    window.onload = function() {
        $('#emotionbutton').click(function() {
            var pk = $(this).attr('name')
            let upValue = 1
            $.ajax({
                url : "/boardview/"+pk+"/",
                type : 'POST',
                data: { 'pk': pk ,'views' : upValue,},
                success:function(response){
                    console.log(response.count, '성공')
                    $('#countValue').html(response.count)
                },
                error:function(request,status,error){
                    alert('실패');
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });
    }
</script>
</head>

<body>
    <main>
        <span class="racoon">
            든든
            <span class="text-style-1">너구리</span>
        </span>
        <input id="search" type="text" placeholder="검색"/>
        <button id="search_button"></button>
        <body_>
            <div class="navigation_bar_1">
                <div class="profile_circle"></div>
                <div class="navigation_bar_1_box">
                    <span class="author">RACOON</span>
                </div>
            </div>
            <div class="navigaton_bar_2">
                <div class="navigation_bar_2_box"></div>
            </div>
            <content>
                <div class="diary_content">
                    <div id="allpost">
                        <!-- <div id="post_title">
                            글 조회 🌞 🌤️ ⛈️ 🌨️ 😀 😰 😐
                        </div> -->
                        <div id="postbody">
                            <right>
                            <div id="post">
                                <table class="table" type="table">
                                    <tr>
                                            <span class="boardlist">
                                                {{selected.title}}
                                            </span>
                                    </tr>
                                    <tr>
                                        <td id="weatherAndfeel">
                                            날씨 : {{weather}} &nbsp;
                                            기분 : {{emotion}} &nbsp;
                                            공감수 : <span id="countValue">{{selected.views}}</span>
                                        </td>
                                        <div id="buttons">
                                            <a href="/board/boardrewrite/{{selected.id}}">
                                                <div id="applybutton" type="button" class="modify">
                                                    수정하기
                                                </div>
                                            </a>
                                            <a href="/board/boardDelete/{{selected.id}}">
                                                <div id="applybutton" type="button">
                                                    삭제하기
                                                </div>
                                            </a>
                                        </div>
                                    </tr>
                                </table>
                                </div>
                            </right>
                        </div>
                        <div id='flexdiv'>
                            <script>
                                var tmp = "{{image_url}}";
                                img_checker(tmp);
                            </script>
                
                            <br><br>
                            {% if image_url %}
                            <textarea id="story" name="story" rows="13" cols="100" readonly="readonly" disabled style="resize: none;" >{{selected.body}}
                            </textarea>
                            {% else %}
                            <textarea id="story" name="story" rows="22" cols="100" readonly="readonly" disabled style="resize: none;" >{{selected.body}}
                            </textarea>
                            {% endif %}
                        </div>
                        
                        <div class="wrap_value">
                        {% csrf_token %}
                        <button id="emotionbutton" class="button" value="up" name="{{selected.id}}">공감하기</button>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </content>  
            <div class="logo"></div>
        </body_>
    </main>


</body>