{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/boardlist.css' %}">
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <title>Document</title>
        <style>
            
        </style>
    </head>
    <body>
        <main>
            <span class="racoon">
                든든
                <span class="text-style-1">너구리</span>
            </span>
            <input id="search" type="text" placeholder="검색"/>
            <button id="search_button"></button>
            <body_>
                <div class="navigation_bar_1">
                    <div class="profile_circle"></div>
                    <div class="navigation_bar_1_box">
                        <span class="author">RACOON</span>
                    </div>
                </div>
                <div class="navigaton_bar_2">
                    <div class="navigation_bar_2_box"></div>
                </div>
                {% if selected %}
                <content id="overflow_content">
                    <span class="boardlist">
                        일기목록
                    </span>        
                    <div class="line"></div>
                    {% for board_data in selected %}            
                    <li style="list-style: none;">
                        <button id="list_button2" href ="/board/boardview/{{board_data.id}}/" onclick = "location.href  = '/board/boardview/{{board_data.id}}/'" >
                            {{board_data.title}} <!---글 제목-->
                        </button> 
                        <button id="write_button" href='/board/boardwrite/' onclick = "location.href  = '/board/boardwrite/'"><!--일기 작성 버튼-->    
                            <span class="text_write">
                                일기 작성하기
                            </span>
                        </button>                
                    </li>
                    {% endfor %}                
                </ul>
                {% else %}
                <content>
                    <span class="boardlist">
                        일기가 없구리...
                    </span>        
                    <div class="line"></div>
                    <button id="write_button_noList" href='/board/boardwrite/' onclick = "location.href  = '/board/boardwrite/'"><!--일기 작성 버튼-->
                        <span class="text_write_noList">
                            일기 작성하기
                        </span>
                    </button>
                {% endif %}
                </content>
                <div class="logo"></div>
            </body_>
        </main>
    </body>
</html>