<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' media='screen' href='write.css'>
        <title>Document</title>
    </head>
    <body>
        
        
        <main>
            <span class="racoon">
                든든
                <span class="text-style-1">너구리</span>
            </span>
            <input id="search" type="text" placeholder="검색"/>
            <body_>
                <div class="navigation_bar_1">
                    <div class="profile_circle"></div>
                </div>
                <div class="navigaton_bar_2">
                </div>
                <content>
                </content> 
                <div class="file_uploder"></div> 
                <div class="title_group">
                    <div class="title"></div>
                    <input id="title" type="text" placeholder="제목"/>
                    <div class="weather">
                        <input type="radio" id="맑음" name="weather" value="맑음"checked><label for="맑음">🌞</label>
                        <input type="radio" id="흐림" name="weather" value="흐림"><label for="흐림">🌤️</label>
                        <input type="radio" id="비" name="weather" value="비"><label for="비">⛈️</label>
                        <input type="radio" id="눈" name="weather" value="눈"><label for="눈">🌨️</label>
                    </div>
                    <div class="emotion">
                        <input type="radio" id="행복" name="emotion" value="행복"checked><label for="행복">😀</label>
                        <input type="radio" id="우울" name="emotion" value="우울"><label for="우울">😰</label>
                        <input type="radio" id="쏘쏘" name="emotion" value="쏘쏘"><label for="쏘쏘">😐</label>
                        <input type="radio" id="자동" name="emotion" value="자동"><label for="자동">자동</label>
                    </div>
                    <div class="tools"></div>
                </div>
                <div class="logo"></div>
            </body_>
            
        </main>
        
    </body>
</html>