.line  {
    position: absolute;
    width: 10vw;
    height: 0;
    top: 7vh;
    left: 1vh;
    border: solid 1.5px #707070;
    background-color: #707070;
}
/* 
#list_button1 {
    width: 890px;
    height: 58px;
    margin: 35px 55px 5px;
    border-radius: 15px;
    border: solid 1px #737c83;
    background-color: #ffefeb;
}
#list_button2 {
    width: 890px;
    height: 58px;
    margin: 15px 55px 5px;
    border-radius: 15px;
    border: solid 1px #737c83;
    background-color: #ffefeb;
} */

#list_button2 {
    width: 45vw;
    height: 7vh;
    margin: 30px 12vw 0px;
    border-radius: 15px;
    border: solid 1px #737c83;
    background-color: #ffefeb;
}
/* main {
    position:absolute;
    width: 99.3vw;
    height: 98vh;
    background-color: #f29886;
}
body_ {
    position:absolute;
    width: 99.3vw;
    height: 87vh;
    left: 0%;
    bottom: 0%;
    background-color: white;
}

.navigation_bar_1 {
    position:absolute;
    width: 150px;
    height: 600px;
    right: 2%;
    top: 4%;
    background-color: #FBDBD5;
}

content {
    position:absolute;
    width: 1000px;
    height: 600px;
    top: 4%;
    left: 15%;
    border: solid 1px #707070;
    background-color: #fff;
}

.navigaton_bar_2 {
    position: absolute;
    width: 150px;
    height: 430px;
    left: 2%;
    top: 4%;
    background-color: #FBDBD5;
}

.profile_circle  {
    position:absolute;
    width: 120px;
    height: 120px;
    top: 3%;
    right: 9%;
    border-radius: 100%;
    border: solid 1px #707070;
    background-color: #fff;
}

.profile  {
    width: 80px;
    height: 80px;
    background-color: #707070;
}


.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 2%;
    top: 70%;
    border-radius: 17px;
    border: solid 1px #707070;
    /* background : url (static('/ddn/')) */
    /* background-image: url('/static/image/너굴맨.jpg');
    background-position: center;
    background-size: 200px 150px;
} */

/* #search {
    position:absolute;
    width: 700px;
    height: 40px;
    top:3%;
    left: 25%;
    border-radius: 20px;
    border: solid 1px #707070;
    background-color: #fff;
} */

.racoon {
    /* width: 150px;
    height: 73px;
    margin: 0 96px 28px 50px;
    -webkit-text-stroke: 1px #fff;
    font-family: BMDoHyeon;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.45;
    letter-spacing: normal;
    text-align: left;
    color: #fff; */
    
    width: 30vw;
    height: 10vh;
    margin: 0 96px 50px 50px;
    -webkit-text-stroke: 0px #fff;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
  
.racoon .text-style-1 {
    font-size: 40px;
} */

#overflow_content {
    overflow: auto;
}

.boardList {
    position: absolute;
    width: 10vw;
    height: 10vh;
    top: 2vh;
    left: 1vw;
    -webkit-text-stroke: 1px #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 5px;
    text-align: left;
    color: #000;
}

#write_button_noList {
    position:absolute;
    width: 10vw;
    height: 6vh;
    top: 72vh;
    right: 1.5vw;
    border-radius: 0.5vw;
    border: 0;
    background-color: #F8CBC2;
}

#write_button {
    position:absolute;
    width: 20vw;
    height: 7vh;
    top: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.5vw;
    border: 0;
    background-color: #F8CBC2;
}

.text_write_noList{
    width: 10vw;
    height: 10vh;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.text_write {
    width: 10vw;
    height: 10vh;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
