date_selecter_temp {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #f29886;
}
body_ {
    position:absolute;
    width: 100%;
    height: 665px;
    left: 0%;
    bottom: 0%;
    background-color: white;
}

.navigation_bar_1 {
    position:absolute;
    width: 150px;
    height: 600px;
    right: 2%;
    top: 4%;
    background-color: #FBDBD5;
}

content {
    position:absolute;
    width: 1000px;
    height: 600px;
    top: 4%;
    left: 15%;
    border: solid 1px #707070;
    background-color: #fff;
}

.navigaton_bar_2 {
    position: absolute;
    width: 150px;
    height: 430px;
    left: 2%;
    top: 4%;
    background-color: #FBDBD5;
}

.profile_circle  {
    position:absolute;
    width: 120px;
    height: 120px;
    top: 3%;
    right: 9%;
    border-radius: 100%;
    border: solid 1px #707070;
    background-color: #fff;
  }

.profile  {
    width: 80px;
    height: 80px;
    background-color: #707070;
}

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 2%;
    top: 70%;
    border-radius: 17px;
    border: solid 1px #707070;
    background-image: url('/static/image/너굴맨.jpg');
    background-position: center;
    background-size: 200px 150px;
}

#search {
    position:absolute;
    width: 700px;
    height: 40px;
    top:3%;
    left: 25%;
    border-radius: 20px;
    border: solid 1px #707070;
    background-color: #fff;
}

.racoon {
    width: 150px;
    height: 73px;
    margin: 0 96px 28px 50px;
    -webkit-text-stroke: 1px #fff;
    font-family: BMDoHyeon;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.45;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .racoon .text-style-1 {
    font-size: 40px;
  }

  
  body {
    font-family: Tahoma;
  }
  header {
    text-align: center;
  }
  #calendar {
    width: 100%;
    position: absolute;
    left: 0%;
    height: 10%;
  }
  #calendar a {
    color: #f29886;
    text-decoration: none;
  }
  #calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #calendar li {
    display: block;
    float: left;
    width: 14.342%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  #calendar ul.weekdays {
    height: 40px;
    background: #f29886;
    
  }
  #calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
  }
  #calendar .days li {
    height: 80.5px;
  }
  #calendar .days li:hover {
    background: #d3d3d3;
  }
  #calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: rgb(92, 92, 92);
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
  }
  #calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
  }
  #calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
  }
  #calendar .other-month {
    background: #f5f5f5;
    color: #666;
  }
  /* ============================
                  Mobile Responsiveness
     ============================*/
  @media (max-width: 768px) {
    #calendar .weekdays, #calendar .other-month {
      display: none;
    }
    #calendar li {
      height: auto !important;
      border: 1px solid #ededed;
      width: 100%;
      padding: 10px;
      margin-bottom: -1px;
    }
    #calendar .date {
      float: none;
    }
  }