.title_group {
    position:absolute;
    width: 72vw;
    height: 15.5vh;
    left: 0;
    right: 0;
    top: 3vh;
    margin: auto;
    border: solid 1px #707070;
    background-color: #f29886;
}

.tools {
    width: 70vw;
    height: 5vh;
    margin: 10px 3px 3px 10px;
    border-radius: 13px;
    border: solid 1px #707070;
    background-color: #fff;
}

#title {
    width: 37vw;
    height: 5vh;
    margin: 10px 0px 0px 10px;
    border-radius: 13px;
    border: solid 1px #707070;
    background-color: #fff;
}

.weather{
    position: absolute;
    left: 40vw;
    top: 3vh;
}

.emotion{
    position: absolute;
    left: 55vw;
    top: 3vh;
}

.file_uploder {
    position:absolute;
    width: 72vw;
    height: 13vh;
    left:0;
    right: 0;
    bottom: 4vh;
    margin:auto;
    border: solid 1px #707070;
    background-color: rgba(46, 46, 46, 0.15);
}